<header>
    <div class="logo">
        <h1><a href="/">Naked With Nature, CHEREMI MAKA</a></h1>
    </div>
    <nav>
        <ul>
            <li>
                <a href="">
                    <h2>요구사항 정의서</h2>
                </a>
            </li>
            <li>
                <a href="">
                    <h2>임시페이지</h2>
                </a>
            </li>
        </ul>
    </nav>
</header>