a{
    color:inherit;
    text-decoration: none;
}

header{
    width:100%;
    height:100px;
    background-color:#04232D;
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:#fff;
    h1{
        font-family:"Philosopher";
        font-size:18px;
        font-weight:700;
    }
    nav{
        ul{
            display:flex;
            li{
                margin-left:30px;
                font-size:16px;
                font-weight:500;
                word-break: keep-all;
            }
        }
    }
}

.main-wrap{
    background-color:#EEEEEE;
    padding-bottom:82px;
    h3{
        padding-top:104px;
        padding-left:40px;
        font-size:30px;
        font-weight:500;
        color:#949494;
    }
}

@media screen and (min-width: 768px){
    .main-wrap{
        h3{
            padding-left:170px;
        }
    }
}

@media screen and (min-width: 1024px){
    .main-wrap{
        h3{
            padding-left:170px;
        }
    }
}