.main-wrap{
    .content-wrap{
        width:1200px;
        margin:0 auto;
        .list-wrap{
            width:100%;
            background-color:#fff;
            height:160px;
            margin:0 auto;
            margin-top:14px;
            display:flex;
            justify-content:space-between;
            align-items:center;
            position:relative;
            &:nth-child(1){
                margin-top:94px;
            }
            .article-num{
                position:relative;
                width:120px;
                span{
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%);
                    font-size:32px;
                    font-weight:500;
                    color:#949494;
                }
            }
            .article-content{
                width:auto;
                position:relative;
                margin-right:auto;
                h4{
                    font-size:30px;
                    font-weight:600;
                    color:#949494;
                    line-height:120%;
                }
                p{
                    font-size:18px;
                    font-weight:500;
                    color:#9C9C9C;
                    margin-top:16px;
                }
            }
            .button-wrap{
                display:flex;
                align-items: center;
                word-break: keep-all;
                .confirm1{
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    label{
                        font-size:10px;
                        font-weight:400;
                        color:#949494;
                        position:relative;
                        top:-6px;
                    }
                    input{
                        width:46px;
                        height:46px;
                        border-radius:10px;
                        accent-color:#BAEBF1;
                        cursor:pointer;
                        border:none;
                    }
                }
                .confirm2{
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    margin-left:8px;
                    label{
                        font-size:10px;
                        font-weight:400;
                        color:#949494;
                        position:relative;
                        top:-6px;
                    }
                    input{
                        width:46px;
                        height:46px;
                        border-radius:10px;
                        accent-color:#BAEBF1;
                        cursor:pointer;
                        border:none;
                    }
                }
                .edit-button{
                    width:84px;
                    height:46px;
                    background-color:#BAEBF1;
                    margin-top:10px;
                    border:none;
                    border-radius:10px;
                    margin-left:8px;
                    font-size:14px;
                    font-weight:700;
                    color:#47A6B0;
                }
                .remove-button{
                    width:46px;
                    height:46px;
                    border:none;
                    border-radius:10px;
                    background-color:#F5CBBD;
                    margin-top:10px;
                    margin-left:8px;
                    margin-right:58px;
                }
            }
        }
        .create-wrap{
            display:flex;
            justify-content: flex-end;
            margin-top:26px;
            .create-button{
                width:200px;
                height:46px;
                background-color:#BAEBF1;
                font-size:22px;
                font-weight:500;
                color:#47A6B0;
                border:none;
                border-radius:10px;
            }
        }
    }
}